In [80]:
import pandas as pd

In [81]:
gold = pd.read_csv(r'C:\Users\Slavcho\Desktop\1990-2021.csv')
gold = gold[['Date', 'United States(USD)']]
gold['Date'] = pd.to_datetime(gold['Date'])
gold.rename(columns = {'United States(USD)':'Gold Price Close'}, inplace = True)

gold.head()

C:\Users\Slavcho\AppData\Local\Temp\ipykernel_14140\2230583308.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  gold['Date'] = pd.to_datetime(gold['Date'])

        Date  Gold Price Close
0 1990-01-31             415.1
1 1990-02-28             407.7
2 1990-03-30             368.5
3 1990-04-30             367.8
4 1990-05-31             363.1

In [82]:
btc = pd.read_csv(r'C:\Users\Slavcho\Desktop\Bitcoin prices.csv')
btc = btc[['Date', 'Close']]
btc['Date'] = pd.to_datetime(btc['Date'])
btc.rename(columns = {'Close':'BTC Close'}, inplace = True)

btc.head()

        Date   BTC Close
0 2014-09-18  424.440002
1 2014-09-19  394.795990
2 2014-09-20  408.903992
3 2014-09-21  398.821014
4 2014-09-22  402.152008

In [83]:
eth = pd.read_csv(r'C:\Users\Slavcho\Desktop\Ethereum prices.csv')
eth = eth[['Date', 'Close']]
eth['Date'] = pd.to_datetime(eth['Date'])
eth.rename(columns = {'Close':'ETH Close'}, inplace = True)

eth.head()

        Date   ETH Close
0 2017-11-09  320.884003
1 2017-11-10  299.252991
2 2017-11-11  314.681000
3 2017-11-12  307.907990
4 2017-11-13  316.716003

In [84]:
df = pd.merge(gold, btc, on='Date')
df = pd.merge(df, eth, on='Date')
df.drop('Date', axis=1, inplace=True)
df

    Gold Price Close     BTC Close    ETH Close
0             1280.2  10233.599609   447.114014
1             1291.0  14656.200195   753.591980
2             1345.1  10221.099609  1118.310059
3             1317.9  10397.900391   855.198975
4             1323.9   6890.520020   394.644989
5             1313.2   9240.549805   669.924011
6             1305.4   7494.169922   577.645020
7             1250.5   6218.299805   436.009003
8             1221.0   7780.439941   433.867004
9             1202.5   7037.580078   283.003998
10            1187.3   6644.129883   222.401993
11            1215.0   6317.609863   197.380997
12            1217.6   4017.268555   113.171417
13            1279.0   3742.700439   133.368256
14            1323.3   3457.792725   107.061012
15            1319.2   3854.785400   136.746246
16            1295.4   4098.374512   142.497421
17            1282.3   5350.726563   162.166031
18            1295.6   8574.501953   268.113556
19            1409.0  12407.332031   311.226105
20            1427.6  10085.627930   218.654144
21            1528.4   9598.173828   168.834869
22            1485.3   8293.868164   179.872208
23            1511.0   9199.584961   183.966919
24            1460.2   7761.243652   155.304153
25            1514.8   7193.599121   129.610855
26            1584.2   9350.529297   180.160172
27            1609.9   8672.455078   226.760498
28            1609.0   6438.644531   133.593567
29            1702.8   8658.553711   207.602051
30            1728.7   9439.124023   220.675125
31            1768.1   9137.993164   226.315002
32            1964.9  11323.466797   345.554657
33            1957.4  11680.820313   435.079742
34            1886.9  10784.491211   359.937866
35            1881.9  13546.522461   382.819977
36            1762.6  19625.835938   614.842529
37            1887.6  29001.720703   737.803406
38            1863.8  34316.386719  1382.522827
39            1742.9  46339.761719  1446.033691
40            1691.1  58918.832031  1918.362061
41            1767.7  57750.175781  2773.207031
42            1900.0  37332.855469  2714.945313
43            1763.2  35040.835938  2274.547607
44            1825.8  42235.546875  2466.961426

In [85]:
df['Shifted'] = df['Gold Price Close'].shift(-3, axis=0)
df

    Gold Price Close     BTC Close    ETH Close  Shifted
0             1280.2  10233.599609   447.114014   1317.9
1             1291.0  14656.200195   753.591980   1323.9
2             1345.1  10221.099609  1118.310059   1313.2
3             1317.9  10397.900391   855.198975   1305.4
4             1323.9   6890.520020   394.644989   1250.5
5             1313.2   9240.549805   669.924011   1221.0
6             1305.4   7494.169922   577.645020   1202.5
7             1250.5   6218.299805   436.009003   1187.3
8             1221.0   7780.439941   433.867004   1215.0
9             1202.5   7037.580078   283.003998   1217.6
10            1187.3   6644.129883   222.401993   1279.0
11            1215.0   6317.609863   197.380997   1323.3
12            1217.6   4017.268555   113.171417   1319.2
13            1279.0   3742.700439   133.368256   1295.4
14            1323.3   3457.792725   107.061012   1282.3
15            1319.2   3854.785400   136.746246   1295.6
16            1295.4   4098.374512   142.497421   1409.0
17            1282.3   5350.726563   162.166031   1427.6
18            1295.6   8574.501953   268.113556   1528.4
19            1409.0  12407.332031   311.226105   1485.3
20            1427.6  10085.627930   218.654144   1511.0
21            1528.4   9598.173828   168.834869   1460.2
22            1485.3   8293.868164   179.872208   1514.8
23            1511.0   9199.584961   183.966919   1584.2
24            1460.2   7761.243652   155.304153   1609.9
25            1514.8   7193.599121   129.610855   1609.0
26            1584.2   9350.529297   180.160172   1702.8
27            1609.9   8672.455078   226.760498   1728.7
28            1609.0   6438.644531   133.593567   1768.1
29            1702.8   8658.553711   207.602051   1964.9
30            1728.7   9439.124023   220.675125   1957.4
31            1768.1   9137.993164   226.315002   1886.9
32            1964.9  11323.466797   345.554657   1881.9
33            1957.4  11680.820313   435.079742   1762.6
34            1886.9  10784.491211   359.937866   1887.6
35            1881.9  13546.522461   382.819977   1863.8
36            1762.6  19625.835938   614.842529   1742.9
37            1887.6  29001.720703   737.803406   1691.1
38            1863.8  34316.386719  1382.522827   1767.7
39            1742.9  46339.761719  1446.033691   1900.0
40            1691.1  58918.832031  1918.362061   1763.2
41            1767.7  57750.175781  2773.207031   1825.8
42            1900.0  37332.855469  2714.945313      NaN
43            1763.2  35040.835938  2274.547607      NaN
44            1825.8  42235.546875  2466.961426      NaN

In [86]:
from sklearn.model_selection import train_test_split

df_copy = df.copy()

X_train, X_test, Y_train, Y_test = train_test_split(df_copy,  df['Gold Price Close'], test_size=0.2)

In [87]:
from xgboost import XGBRegressor

n_estimators_value = 100
max_depth_value = 3
learning_rate_value = 0.1
objective_value = 'reg:squarederror'

xgb_regressor = XGBRegressor(
    n_estimators=n_estimators_value,
    max_depth=max_depth_value,
    learning_rate=learning_rate_value,
    objective=objective_value
)

xgb_regressor.fit(X_train, Y_train)

y_pred = xgb_regressor.predict(X_test)

In [88]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae_xgb = mean_absolute_error(Y_test, y_pred)
mse_xgb = mean_squared_error(Y_test, y_pred)
r2_xgb = r2_score(Y_test, y_pred)

print(f"Mean Absolute Error: {mae_xgb}")
print(f"Mean Squared Error: {mse_xgb}")
print(f"R-squared: {r2_xgb}")

Mean Absolute Error: 12.387792968750041
Mean Squared Error: 376.9668743920331
R-squared: 0.9905115976893054